{% load static %}

<style>
    .error {
        color: #ff3860;
        border-color: #ff3860;
        font-size: 10px;
    }

    .form-control .error input {
        border-color: #ff3860;
        font-size: 10px;
    }

    .form-control .success input {
        border-color: #09c372;
        font-size: 10px;
    }
</style>

    <div class="modal fade " id="add-checkout" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="checkout_form" action="{% url 'exit_visitor' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title"><span>Exit Visitor</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 class="selct-box-head">Exit Desk</h6>
                        <div class="form-grp inputGroup">
                            <div class="select-inp">
                                <select class="form-control" name="exit_desk" id="exit_desk" required>
                                    <option selected disabled>--select desk--</option>
                                
                                    <option value="{{data.select_desk.id}}">{{data.select_desk}}</option>
                                

                                </select>
                                <i class="fas fa-chevron-down"></i>
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-control inputGroup">
                            <label for="exit_time"><h6>Exit Time</h6></label><br>
                            <input type="datetime-local" class="form-control" id="exit_time" name="exit_time" required>
                            <div class="error"></div>
                        </div>
                        <input type="text" name="visitor_id" id="visitor_id" value="{{vid}}">

                    

                        <h6>Visitor Remarks</h6>
                            <label for="number"></label>
                            <textarea class="form-control" name="visitor_remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
                    
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn text-uppercase br-50 btn-md"
                    style="background-color: green; color: white;" onclick="checkoutModal(event)">CHECKOUT</button>
                    <button type="button" class="btn btn-light text-uppercase br-50 btn-md"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        function getCurrentDateTime() {
            const now = new Date();
            const year = now.getFullYear();
            const month = (now.getMonth() + 1).toString().padStart(2, '0');
            const day = now.getDate().toString().padStart(2, '0');                    
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            return `${year}-${month}-${day}T${hours}:${minutes}`;
        }
    
        $(document).ready(function () {
            $('#exit_time').attr('min', getCurrentDateTime());
        });
    </script>
    <script>
        function showToast(message, icon) {
            const toastMixin = Swal.mixin({
                toast: true,
                icon: icon,
                title: 'General Title',
                animation: false,
                position: 'top-right',
                width: '450px',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
            toastMixin.fire({
                animation: true,
                title: message
            });
        }


        const checkoutModal=(e)=>{
            const exitDesk = document.getElementById('exit_desk');
            const exitTime = document.getElementById('exit_time');

            function setError(element, message) {
               
                const inputControl = element.parentElement;
                const errorDisplay = inputControl.querySelector('.error');

                errorDisplay.innerText = message;
                inputControl.classList.add('error');
                inputControl.classList.remove('success');
            }

            const setSuccess = element => {
                const inputControl = element.parentElement;
                const errorDisplay = inputControl.querySelector('.error');

                errorDisplay.innerText = '';
                inputControl.classList.add('success');
                inputControl.classList.remove('error');
            };


            const validateInputs = () => {
                const exitDeskValue = exitDesk.value.trim();
                const exitTimeValue = exitTime.value.trim();
                let isValid = true;

                if (exitDeskValue === '--select desk--') {
                    setError(exitDesk, 'Choose an exit desk');
                    isValid = false;
                } else {
                    setSuccess(exitDesk);
                }

                if (exitTimeValue === '') {
                    setError(exitTime, 'Choose the exit time');
                    isValid = false;
                } else {
                    setSuccess(exitTime);
                }

                return isValid;
            };

            function resetForm() {
                // Reset the form here
                $("#checkout_form")[0].reset();
                // Optionally, you can clear success/error classes and messages if any
                $(".error").text("");
                $(".input-control").removeClass("error success");
            }

           

            if (validateInputs()) { // for validating the fields
                const form = new FormData($("#checkout_form")[0]);

                    $.ajax({
                        url: "/exit_visitor/",
                        method:"POST", //http method for the request.
                        headers: { // addtional http header for the request
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        data: form,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: (res) => {  //http response
                            if (res.status === 400) {   
                                if (res.type === "checkouttime") {
                                    setError(exit_time, res.error);
                                }
                                if (res.type === "notexist") {
                                    setError(visitor_id, res.error);
                                }
                            }
                            if (res.status === 200) {
                                showToast(res.message, "success")
                                resetForm();
                                const row = $(`tr[data-visitor-id="${res.visitor_id}"]`);

                                const checkoutTimeElement = row.find(".checkout-time"); // Update with the actual class or selector
                                checkoutTimeElement.text(res.checkout_time);
                                $(".checkoutLink").css("display", "none");
                                $(".checkedout").css("display", "inline");

                            }

                        },    

                        error: function (xhr, textStatus, errorThrown) {
                        // Handle any AJAX errors
                        }
                    });

            }
        };
        // 

        $(document).ready(function () {
            $("#checkout_form").submit(checkoutModal);
        });
    </script>
    <script>
    //     window.onload = function() {
    //     // Get the current date and time in the format required by datetime-local input
    //     const now = new Date();
    //     const formattedNow = now.toISOString().slice(0, 16);

    //     // Set the default value and min attribute to the current date and time
    //     document.getElementById('exit_time').value = formattedNow;
        
    //     // Set the min attribute to restrict past dates and times
    //     document.getElementById('exit_time').min = formattedNow;
    // }
      </script>
      

    
     

