{% load static %}

<style>
    .error {
        color: #ff3860;
        border-color: #ff3860;
        font-size: 10px;
    }

    .form-control .error input {
        border-color: #ff3860;
        font-size: 10px;
    }

    .form-control .success input {
        border-color: #09c372;
        font-size: 10px;
    }
</style>

    <div class="modal fade " id="add-checkout" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="border-radius: 8px;">
                <form method="post" id="checkout_form" action="{% url 'exit_visitor' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title"><span>Exit Visitor</span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="selct-box-head">Exit Desk</h6>
                            <div class="form-grp inputGroup">
                                <div class="select-inp">
                                    <select class="form-control" name="exit_desk" id="exit_desk" required>
                                        <!-- <option selected disabled>--select desk--</option> -->
                                    
                                        <option value="{{data.select_desk.id}}">{{data.select_desk}}</option>
                                    

                                    </select>
                                    <i class="fas fa-chevron-down"></i>
                                    <div class="error"></div>
                                </div>
                            </div>

                            <div class="inputGroup form-control">
                                <label for="startDateTime">Exit Time</label><br>
                                <input style="font-size: 13px" type="datetime-local" class="form-control" id="exit_time"
                                    name="exit_time" min="{{ current_date }}">
                                <div style="position: absolute ;top: 64px;" class="error"></div>
                            </div>
                            <input type="hidden" name="visitor_id" id="visitor_id" value="{{vid}}">
                        <h6 style="font-weight: 600;">Visitor Remarks</h6>
                            <textarea class="form-control" name="visitor_remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn text-uppercase br-50 btn-md"
                        style="background-color: green; color: white;" onclick="checkoutModal(event)">CHECKOUT</button>
                        <button type="button" class="btn btn-light text-uppercase br-50 btn-md"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function getCurrentDateTime() {
            const now = new Date();
            const year = now.getFullYear();
            const month = (now.getMonth() + 1).toString().padStart(2, '0');
            const day = now.getDate().toString().padStart(2, '0');                    
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            return `${year}-${month}-${day}T${hours}:${minutes}`;
        }
    
        $(document).ready(function () {
            $('#exit_time').attr('min', getCurrentDateTime());
        });
    </script>
    <script>
        function showToast(message, icon) {
            const toastMixin = Swal.mixin({
                toast: true,
                icon: icon,
                title: 'General Title',
                animation: false,
                position: 'top-right',
                width: '450px',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
            toastMixin.fire({
                animation: true,
                title: message
            });
        }


        const checkoutModal=(e)=>{
            const exitDesk = document.getElementById('exit_desk');

            function setError(element, message) {
               
                const inputControl = element.parentElement;
                const errorDisplay = inputControl.querySelector('.error');

                errorDisplay.innerText = message;
                inputControl.classList.add('error');
                inputControl.classList.remove('success');
            }

            const setSuccess = element => {
                const inputControl = element.parentElement;
                const errorDisplay = inputControl.querySelector('.error');

                errorDisplay.innerText = '';
                inputControl.classList.add('success');
                inputControl.classList.remove('error');
            };


            const validateInputs = () => {
                const exitDeskValue = exitDesk.value.trim();
                let isValid = true;

                if (exitDeskValue === '--select desk--' || exitDeskValue === '') {
                    setError(exitDesk, 'Choose an exit desk');
                    isValid = false;
                } else {
                    setSuccess(exitDesk);
                }

                return isValid;
            };

            function resetForm() {
                $("#checkout_form")[0].reset();
                $(".error").text("");
                $(".input-control").removeClass("error success");
            }

           

            if (validateInputs()) { 
                const form = new FormData($("#checkout_form")[0]);

                    $.ajax({
                        url: "/exit_visitor/",
                        method:"POST",
                        headers: { 
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        data: form,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: (res) => { 
                            if (res.status === 400) {   
                                if (res.type === "checkouttime") {
                                    showToast(res.message, "error")
                                    $("#add-checkout").modal('hide');
                                    
                                }
                                if (res.type === "notexist") {
                                    setError(visitor_id, res.error);
                                }
                            }
                            if (res.status === 200) {
                                showToast(res.message, "success")
                                resetForm();
                                $("#add-checkout").modal('hide');
                                $(checkoutModalElement).css('visibility', 'hidden'); 
                                // const visitorId = checkoutModalElement.getAttribute('id').replace('checkoutLink_', '');  
                                // $(`#checkedOutText_${visitorId}`).css('visibility', 'visible');
                            }
                        },    

                        error: function (xhr, textStatus, errorThrown) {
                        }
                    });

            }
        };

        // const showCheckedOutText = (element) => {
        //     alert("eererf")
        //     const visitorId = element.getAttribute('id').replace('checkoutLink_', '');

        //     $(`#checkedOutText_${visitorId}`).css('visibility', 'visible');
        // }; 
        
        $(document).ready(function () {
            $("#checkout_form").submit(checkoutModal);
        });
    </script>

    
     

