{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visitors Management System</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/calendar.css' %}" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet"> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
   <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

  


</head>
<style>
  .fc-avatar-image{
    display: none;
  }
  .fc-content{
    background-color: green;
    color: white;
  }
  .fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable{
    background-color: black;
  }
  .fc-time{
    color: white;

  }.fc-title{
    color: white;

  }.fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable {
    background-color: rgb(0 182 0);
  }.error-message {
    color: red;
  }.swal2-popup {
  font-size: 1.6rem !important;
}
  /* .fc .fc-toolbar>*>:first-child {
    margin-left: 0;
    background: green;
    color: white;
   
} */
</style>
<body>
  
  

<header id="page-topbar">
  <div class="navbar-header">
      <div class="d-flex align-items-center">
          <div class="navbar-brand-box">
              <a href="{% url 'dashboard' %}" class="logo">
                  <span class="logo-lg">
                      <img src="{% static '/images/logo.png' %}" alt="" height="23">
                  </span>
              </a>
          </div>
          <button type="button" class="btn btn-sm font-size-16 d-lg-none header-item waves-effect waves-light"
              data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
              <i class="fa fa-fw fa-bars"></i>
          </button>

          <div class="topnav">
              <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                  <div class="collapse navbar-collapse" id="topnav-menu-content">
                      <ul class="navbar-nav">

                          <li class="nav-item">
                              <a class="nav-link" style="box-sizing: border-box; font-size: 15px;"  href="{% url 'dashboard' %}" 
                                  id="topnav-dashboard" role="button">
                                  <span key="t-dashboards">Dashboard</span>
                              </a>
                          </li>
                          
                          <li class="nav-item">
                              <a class="nav-link" style="box-sizing: border-box; font-size: 15px;" href="{% url 'visitors' %}"
                              id="topnav-pages" role="button">
                              <span>Visitors</span>
                              
                          </a>
                          
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" style="box-sizing: border-box; font-size: 15px;" href="{% url 'settings' %}"
                                  id="topnav-pages" role="button">
                                  <span>Settings</span>                                            
                              </a>                                        
                          </li>
                          
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
  
  
</header>
<br>
<br>
<br>
<br>
<div class="row">
      
        
        <!-- ADD EVENT MODAL -->
        <div class="modal fade" tabindex="-1" role="dialog" id="newEventModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Add Booking</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                  
                </button>
              </div>
        
              <form method="post" id="new-event-form">
                <!-- {% csrf_token %} -->
                <div class="modal-body">
        
                  <div class="form-group row">
                    <label for="visitor_name" class="col-sm-4 col-form-label">Visitor Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="visitor_name" name="visitor_name" required>
                      <div class="error-container"></div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="visitor_email" class="col-sm-4 col-form-label">Visitor Email</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="visitor_email" name="visitor_email" required>
                      <div class="error-container"></div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="visitor_phone" class="col-sm-4 col-form-label">Phone</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" id="visitor_phone" name="visitor_phone" required>
                      <div class="error-container"></div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="title" class="col-sm-4 col-form-label">Purpose</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="title" name="event_name" required>
                      <div class="error-container"></div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="starts-at" class="col-sm-4 col-form-label">Starts at</label>
                    <div class="col-sm-8">
                      <div class="input-group date" id="starts-at-picker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#starts-at-picker" name="starts_at" id="starts-at" required>
                        <div class="input-group-append" data-target="#starts-at-picker" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="ends-at" class="col-sm-4 col-form-label">Ends at</label>
                    <div class="col-sm-8">
                      <div class="input-group date" id="ends-at-picker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#ends-at-picker" name="ends_at" id="ends-at" required>
                        <div class="input-group-append" data-target="#ends-at-picker" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="host_id" class="col-sm-4 col-form-label">Staff</label>
                    <div class="col-sm-8">
                      <select class="form-control" name="host_id" id="host_id" required>
                        {% for i in staff_data %}
                          <option value="{{ i.id }}">{{ i.first_name }} {{ i.last_name }}</option>
                        {% endfor %}
                      </select>
                      <div class="error-container"></div>
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="add-event-desc" class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                      <textarea rows="4" class="form-control" name="event_description" id="add-event-desc" required></textarea>
                      <div class="error-container"></div>
                    </div>
                  </div>
                  
                </div>
                
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-light text-uppercase br-50 btn-md" data-dismiss="modal">Close</button>
                  <button type="button" style="background-color: green; color: white;" class="btn text-uppercase br-50 btn-md" id="save-event">Create</button>
                </div>
              </form>
        
            </div>
          </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="updateEventModal">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Update Event</h4>
                  </div>
      
                  <form method="post" id="update-event-form">
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-xs-12">
                                  <label class="col-xs-4" for="visitor_name_update">Visitor Name</label>
                                  <input class="inputModal" type="text" name="visitor_name" id="visitor_name_update" required/>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <label class="col-xs-4" for="visitor_email_update">Visitor Email</label>
                                  <input class="inputModal" type="text" name="visitor_email" id="visitor_email_update" required/>
                              </div>
                          </div>
                          <!-- Add other fields as needed -->
                          <div class="row">
                              <div class="col-xs-12">
                                  <label class="col-xs-4" for="starts-at-update">Starts at</label>
                                  <input class="inputModal" type="text" name="starts_at" id="starts-at-update" required/>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <label class="col-xs-4" for="ends-at-update">Ends at</label>
                                  <input class="inputModal" type="text" name="ends_at" id="ends-at-update" required/>
                              </div>
                          </div>
                          <!-- Add other fields as needed -->
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="update-event">Update</button>
                      </div>
                  </form>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div>
      

  <div class="col-md-12">    
    <div id='calendar'></div> 
  </div> 
        
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCit4RJVPT9UiLQCJJPYEBkNTJCslqO4ps&libraries=places"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script>
    $(document).ready(function() {

      function showToast(message, icon) {
        const toastMixin = Swal.mixin({
            toast: true,
            icon: icon,
            title: 'General Title',
            animation: false,
            position: 'top-right',
            width: '450px',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
        toastMixin.fire({
            animation: true,
            title: message
        });
    }

      var calendar = $('#calendar').fullCalendar({
        header: {
          left: 'prev, next today',
          center: 'title',
          right: 'month, agendaWeek, agendaDay'
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        
        
        select: function (start, end, allDay) {
          $('#new-event-form')[0].reset();
          $('.error-container').text("");

          if (calendar.fullCalendar("getView").name === "month") {

            const addTime = moment(start).add(9, 'hours');
            $('#starts-at').val(addTime.format('YYYY-MM-DD HH:mm:ss'));
            const previousDay = moment(end).subtract(1, 'days').add(10, 'hours');
            $('#ends-at').val(previousDay.format('YYYY-MM-DD HH:mm:ss'));
          }
          else{
            $('#starts-at').val(moment(start).format('YYYY-MM-DD HH:mm:ss'));
            $('#ends-at').val(moment(end).format('YYYY-MM-DD HH:mm:ss'));
          }


  
          $('#newEventModal').modal('show');
          
        },
        eventRender: function(event, element, timezone, callback) {
          element.css({
              'background-color': 'green',
              'color': 'white',
              'position': 'relative', 
          });

          // var container = $('<div class="custom-container"></div>');
          // var startMoment = moment(event.start);  
          // var endMoment = moment(event.end);

          // var topPosition = moment.duration(startMoment.diff(moment().startOf('day'))).asMinutes() / 2;

          // var height = ((endMoment - startMoment) / (60 * 1000)) * 2;

          // container.css({
          //     'position': 'absolute',
          //     'top': topPosition + 'px',
          //     'height': height + 'px',
          //     'width': '100%',
          //     'background-color': 'rgba(255, 255, 255, 0.8)',
          //     'border': '1px solid #ccc',
          //     'padding': '5px',
          //     'box-sizing': 'border-box',
          // });

          // container.html('<strong>' + event.visitor_name + '</strong><br>' +
          //     'Starts at: ' + startMoment.format('h:mm A') + '<br>' +
          //     'Ends at: ' + endMoment.format('h:mm A'));

          // element.append(container);

          element.find('.fc-title').css({
              'color': 'white'
          });
      },


        events: '/get_events/',

        eventClick: function (event) {
          openUpdateModal(event.id);
        },

        eventDrop: function (event, delta, revertFunc) {
          openUpdateModal(event.id);
        },

      });
   
      $('#save-event').on('click', function() {
        $('.error-container').empty();

        var visitorName = $('#visitor_name').val();
        if (visitorName.trim() === '') {
          $('#visitor_name').siblings('.error-container').html('<div class="error-message">Visitor Name is required</div>');
        }

        var visitorPurpose = $('#title').val();
        if (visitorPurpose.trim() === '') {
          $('#title').siblings('.error-container').html('<div class="error-message">Purpose is required</div>');
        }

        var visitorEmail = $('#visitor_email').val();
        if (visitorEmail.trim() === '') {
          $('#visitor_email').siblings('.error-container').html('<div class="error-message">Visitor Email is required</div>');
        } else if (!isValidEmail(visitorEmail)) {
          $('#visitor_email').siblings('.error-container').html('<div class="error-message">Enter a valid email address</div>');
        }

        var visitorPhone = $('#visitor_phone').val();
        if (visitorPhone.trim() === '') {
          $('#visitor_phone').siblings('.error-container').html('<div class="error-message">Phone number is required</div>');
        }else if (!isValidPhone(visitorPhone)) {
          $('#visitor_phone').siblings('.error-container').html('<div class="error-message">Enter a valid phone number</div>');
        }

        var hostId = $('#host_id').val();
        if (hostId === '') {
          $('#host_id').siblings('.error-container').html('<div class="error-message">Host is required</div>');
        }
        if ($('.error-message').length === 0) {
          var eventData = {
            
            'visitor_name': $('#visitor_name').val(),
            'visitor_email': $('#visitor_email').val(),
            'visitor_phone': $('#visitor_phone').val(),
            'event_name': $('#title').val(),
            'starts_at': $('#starts-at').val(),
            'ends_at': $('#ends-at').val(),
            'host_id': $('#host_id').val(),
            'event_description': $('#add-event-desc').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          };
        };
        
        function isValidPhone(phone) {
            var phoneRegex = /^[0-9]{8,12}$/;
            return phoneRegex.test(phone);
        }

        function isValidEmail(email) {
          var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailRegex.test(email);
        }

        if (!visitorName || !visitorPurpose || !visitorEmail || !visitorPhone || !hostId || !isValidEmail(visitorEmail) || !isValidPhone(visitorPhone)) {
          return;
        }
  
        $.ajax({
          type: "POST",
          url: '/create_event/',
          data: eventData,
          dataType: "json",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}"
          },
          success: function (data) {
            if (data.status === 400) {
              showToast(data.message, "error")
            }
            else {
              calendar.fullCalendar('refetchEvents');
              $('#newEventModal').modal('hide');
              showToast(data.message, 'success');
            }

          },
          error: function (data) {
            // alert('There is a problem');
          }
        });
      });

      // function openUpdateModal(eventId) {
      //   $.ajax({
      //     type: 'GET',
      //     url: '/get_event_details/' + eventId + '/', 
      //     dataType: 'json',
          
      //     success: function (data) {
      //       $('#update-visitor-name').val(data.visitor_name);
      //       $('#updateEventModal').modal('show');
      //       alert("eventId")
      //     },
      //     error: function (data) {
      //       console.error('Error fetching event details');
      //     }
      //   });
      // }


  
      $('#newEventModal').on('shown.bs.modal', function () {
        var selectedDate = $('#starts-at').val();
        $.ajax({
          type: "GET",
          url: '/get_events/',
          dataType: "json",
          success: function (data) {
          },
          error: function (data) {
            console.error('Error fetching events');
          }
        });
      });
  
      $('#starts-at, #ends-at').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        useCurrent: true,
      });
      $('#starts-at').val(moment().hour(10).minute(0).second(0).format('YYYY-MM-DD HH:mm:ss'));
      $('#ends-at').val(moment().hour(11).minute(0).second(0).format('YYYY-MM-DD HH:mm:ss'));
    });
  </script>
</body>

</html>