{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Visitors Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>


</head>
<style>
    .error {
        color: #ff3860;
        border-color: #ff3860;
        font-size: 10px;
    }

    .form-control .error input {
        border-color: #ff3860;
        font-size: 10px;
    }

    .form-control .success input {
        border-color: #09c372;
        font-size: 10px;
    }
        /* .inputGroup {
            position: relative;
            margin-bottom: 1em;
        }

        .inputGroup input {
            font-size: 1em;
            padding: 10px;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #ccc;
        }

        .inputGroup label {
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 1em;
            color: #777;
            pointer-events: none;
            transition: 0.2s ease all;
        } */

        /* .inputGroup input:focus + label,
        .inputGroup input:not(:placeholder-shown) + label {
            top: -15px;
            font-size: 0.8em;
            color: #333;
        } */
</style>

<body id="for-focus-main">

    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex align-items-center">
                    <div class="navbar-brand-box">
                        <a href="{% url 'dashboard' %}" class="logo">
                            <span class="logo-lg">
                                <img src="{% static 'images/logo.png' %}" alt="" height="23">
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link arrow-none" href="{% url 'dashboard' %}"
                                            id="topnav-dashboard" role="button">
                                            <span key="t-dashboards">Dashboard</span>
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'visitors' %}"
                                            id="topnav-pages" role="button">
                                            <span>Visitors</span>

                                        </a>

                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'settings' %}"
                                            id="topnav-pages" role="button">
                                            <span>Settings</span>

                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="d-flex align-items-center header-rightside-btns">
                    <a href="{% url 'calendar' %}">
                        <button type="button" style="background-color: green; color: rgb(255, 255, 255);" class="btn header-item waves-effect waves-light" >CALENDAR
                        </button>
                    </a>
                    <a href="{% url 'checkin_visitor' %}">
                        <button type="button" style="background-color: green; color: white;" class="btn header-item waves-effect waves-light" >CHECK IN
                        </button>
                    </a>
                    <div class="dropdown d-inline-block user-dropdown ms-2">
                        <a class="" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rounded-circle header-profile-user"
                                src="{% static 'images/dummy.png' %}" alt="Header Avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'user_profile' %}"><i class="bx bx-user font-size-16 align-middle me-1"></i>
                               <span key="t-profile">Profile</span></a>
                           <!-- <a class="dropdown-item d-block" href="#"><i
                                   class="bx bx-wrench font-size-16 align-middle me-1"></i> <span
                                   key="t-settings">Settings</span></a> -->
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item text-danger" href="#" onclick="confirmLogout()"><i
                                   class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                   key="t-logout">Logout</span>
                           </a>
                       </div>
                    </div>

                </div>
            </div>
        </header>

        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Logout Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" onclick="performLogout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>




        <div class="page-content" >
            <div class="container-fluid px-0">
                <div class="settings-tabs">
                    <ul class="nav settings-nav nav-pills nav-justified" role="tablist">

                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link " data-bs-toggle="tab" href="#department-tab" role="tab">
                                <div>
                                    <i class='bx bxs-group stns-tab-icon-2'></i>
                                    <h4 class="stngs-tab-head">New Visitor</h4>
                                </div>
                            </a>
                        </li>

                        <!-- <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-bs-toggle="tab" href="#users-tab" role="tab">
                                <div>
                                    <i class='bx bxs-user stns-tab-icon-3'></i>
                                    <h4 class="stngs-tab-head">Recurring Visitor</h4>
                                </div>
                            </a>
                        </li> -->


                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link active" data-bs-toggle="tab" href="#opportunity-stages-tab" role="tab">
                                <div>
                                    <i class="bx bx-stats stns-tab-icon-6"></i>
                                    <h4 class="stngs-tab-head">Invited Visitor</h4>
                                </div>
                            </a>
                        </li>


                    </ul>

                    <div class="tab-content" >
                        

                        <div class="tab-pane " id="department-tab" role="tabpanel">
                            <div class="settings-card" >
                            
                                <div class="department-table table-view">
                                    <div class="table-responsive">                                      
                                        <form method="post" id="checkin_form" action="{% url 'new_visitor' %}">
                                            {% csrf_token %}
                                            <div class="card-body center-text-align" style="padding: 35px;">
                                            <h4 style="font-weight: 600;">New Visitor</h4><br>
                                            
                                                <h6 class="selct-box-head">Branch</h6>
                                                <div class="form-grp inputGroup">
                                                    <div class="select-inp">
                                                        <select class="form-control" name="branch_id" id="branch_id">
                                                            <option selected disabled>--select branch--</option>
                                                            {% for i in branch_data %}
                                                            
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <div class="error"></div>
                                                    </div>
                                                </div>

                                                <h6 class="selct-box-head">Desk</h6>
                                                <div class="form-grp inputGroup">
                                                    <div class="select-inp append_data">
                                                        <select class="form-control" name="desk_id" id="desk_id">
                                                            <!-- <option selected disabled>--select desk--</option> -->
                                                        </select>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <div class="error"></div>
                                                    </div>
                                                </div>
                        
                                                <div class="inputGroup form-control">
                        
                                                    <input style="font-size: 13px" type="text" required="" name="full_name" id="full_name" autocomplete="off">
                                                    <label class="search-icon" for="name">Full Name</label>
                                                    <div class="error"></div>
                                                </div>
                        
                        
                                                <div class="inputGroup form-control">
                                                    <input style="font-size: 13px" type="email" required="" name="email" id="email" autocomplete="off">
                                                    <label class="search-icon" for="email">Email</label>
                                                    <div class="error"></div>
                                                </div>
                        
                        
                                                <div class="inputGroup form-control">
                                                    <input style="font-size: 13px" type="number" required="" name="phone" id="phone" autocomplete="off">
                                                    <label class="search-icon" for="number">Phone</label>
                                                    <div class="error"></div>
                                                </div>
                        
                                                <h6 class="selct-box-head">Host</h6>
                                                <div class="form-grp inputGroup">
                                                    <div class="select-inp">
                                                        <select class="form-control drp" name="host_id" id="host_id" required>
                                                            
                                                        </select>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <div class="error"></div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="visitorId" name="visitor_id">

                                                <div class="inputGroup form-control">
                        
                                                    <input style="font-size: 13px" type="text" required="" name="purpose" id="purpose" autocomplete="off">
                                                    <label class="search-icon" for="name">Purpose</label>
                                                    <div class="error"></div>
                                                </div>

                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" style="background-color: green; color: white;" 
                                                    class="btn text-uppercase br-50 btn-md" onclick="checkinVisitor(event)">Create</button>
                                                    
                                                </div>
                        
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane active" id="opportunity-stages-tab" role="tabpanel">
                            <div class="settings-card" id="for-focus">
                                <div class="opportunity-stages-tab table-view">
                                    <div class="table-responsive">
                                        <form method="post" id="visitor_checkin" action="#">
                                            {% csrf_token %}
                                            <div class="card-body center-text-align" style="padding: 35px; text-align: center;">
                                                <h4 style="font-weight: 600;">Invited Visitor Check</h4><br>
                                                <div style="display: flex; justify-content: space-between;">
                                                    <div style="flex: 1;">
                                                        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
                                                        <dotlottie-player src="https://lottie.host/b3a48700-59e5-49e5-8962-65d4b5e19dce/CEaCFb2mG4.json" background="transparent" speed="1" style="width: 450px; height: 450px; margin-left: 65px;
                                                        width: 58%;
                                                        height: 100%; margin-top: 9px " loop autoplay></dotlottie-player>
                                                        <h5 style="margin-left: 137px;;
                                                        display: flex;
                                                        position: absolute;
                                                        margin-top: -26px; ">Scan Your QR</h5>
                                                    </div>
                                                    <h1 style="margin-top: 40px;
                                                    align-items: center;
                                                    display: flex; color: #002d00;">OR</h1>
                                                    <div style="flex: 1; padding-left: 20px;">
                                                        <div class="inputGroup form-control" style="margin-top: 124px;
                                                        margin-left: 106px; width: 286px ; border: 3px solid #008a00;">
                                                            <input type="text" required="" name="invite_id" id="invite_id" placeholder="Enter Visitor ID."> 
                                                            <label class="search-icon" for="invite_id">Invite ID</label>
                                                        </div>
                                                        <span id="error-message" style="color: red; margin-left: 153px;"></span>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                </div>
                                            </div>
                                            <button type="submit" id="get-details-btn" style="background-color: green; color: white; display: none;" class="btn text-uppercase br-50 btn-md">
                                                Get Details
                                            </button>
                                        </form>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                       

                    </div>
                </div>

            </div>
<!--  -->
        </div>
        <div class="modal fade" style="border-radius: 10px;" id="visitor-detail-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" style="border-radius: 8px;">
        
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Visitor Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetForm()"></button>
                    </div>
        
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Branch</th>
                                    <th>Purpose</th>
                                    <th>Hosted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
        
                        <div class="form-group">
                            <label>Desk</label>
                            <select class="form-control" name="desk_name" id="desk_name">
                                <!-- <option selected>--select desk--</option> -->
                                {% for i in desk_data %}
                                    <option value="{{i.id}}">{{i.desk_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
        
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" id="checkin_modal_btn" style="background-color: green; color: white;" class="btn text-uppercase br-50 btn-md">
                            Check in
                        </button>                       
                        <button type="button" class="btn btn-light text-uppercase br-50 btn-md" data-bs-dismiss="modal" onclick="resetForm()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <script>
        $(document).ready(function () {
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function () {
                readURL(this);
            });
            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".appnd_user_btn").click(function () {

                $(".apenduser").append("<tr>\n" +
                    "                                    <td class=\"th_btnpand\">\n" +
                    "                                        <div style=\"cursor: pointer;\" class=\"appnd_user_minus_btn appnd_minus_btn\">-</div>\n" +
                    "                                    </td>\n" +
                    "                                    <td class=\"th_user_role\">\n" +
                    "                                        <select name=\"role_id[]\" class=\"form-control\">\n" +
                    "                                            {% for role in  role_data %}\n" +
                    "                                           <option value=\"{{role.id}}\">{{role.role_name}}</option>\n" +
                    "                                           {% endfor %}\n" +
                    "                                        </select>\n" +
                    "                                    </td>\n" +
                    "                                    <td class=\"th_user_decrptn\">\n" +
                    "                                        <input name=\"role_description[]\" class=\"form-control\">\n" +
                    "                                    </td>\n" +
                    "                                 <td class=\"th_user_strtdate\">\n" +
                    "                                        <div class=\"input-group date\">\n" +
                    "                                            <input name=\"role_start_dt[]\"  min=\"{{today_date}}\" value=\"{{today_date|safe}}\" type=\"date\" class=\"input form-control\" id=\"datetimepicker\"> \n" +
                    "                                        </div>\n" +
                    "                                    </td>\n" +
                    "                                    <td class=\"th_user_enddate\">\n" +
                    "                                        <div class=\"input-group date\">\n" +
                    "                                            <input name=\"role_end_dt[]\" type=\"date\"  min=\"{{today_date}}\"  class=\"input form-control\" id=\"datetimepicker\"> \n" +
                    "                                        </div>\n" +
                    "                                    </td>\n" +

                    "                                </tr>");
                $(".appnd_user_minus_btn").click(function () {
                    $(this).parent().parent().remove();
                });
            });
        });
        $(".appnd_user_minus_btn").click(function () {
            $(this).parent().parent().remove();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const branchDropdown = document.getElementById('branch_id');
          const hostDropdown = document.getElementById('host_id');
          const deskDropdown = document.getElementById('desk_id');
      
          branchDropdown.addEventListener('change', function () {
            const branchId = branchDropdown.value;
            if (branchId) {
              // Make an AJAX request to fetch hosts for the selected branch
              fetch(`/get_dependent/?branch_id=${branchId}`)
                .then(response => response.json())
                .then(data => {
                  hostDropdown.innerHTML = '';
                  data.hosts.forEach(host => {
                    hostDropdown.innerHTML += `<option value="${host.id}">${host.name}</option>`;
                  });
                  deskDropdown.innerHTML = '';
                  data.desks.forEach(desk => {
                    deskDropdown.innerHTML += `<option value="${desk.id}">${desk.name}</option>`;
                  });
                  
                });
            } else {
              // Reset the host dropdown if no branch is selected
              hostDropdown.innerHTML = '';
              deskDropdown.innerHTML = '';
            }
          });
        });
    </script>
    <script>
        function showToast(message, icon) {
            const toastMixin = Swal.mixin({
                toast: true,
                icon: icon,
                title: 'General Title',
                animation: false,
                position: 'top-right',
                width: '450px',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
            toastMixin.fire({
                animation: true,
                title: message
            });
        }
        

        const checkinVisitor = (e) => { 
            e.preventDefault();//e = event object as an argument, here doesn't not using the event object

            const branchId = document.getElementById('branch_id');
            const deskId = document.getElementById('desk_id')
            const fullName = document.getElementById('full_name');
            const email = document.getElementById('email');
            const phone = document.getElementById('phone');
            const hostId = document.getElementById('host_id');
            const purpose = document.getElementById('purpose');

            function setError(element, message) {
                const inputControl = element.parentElement;
                const errorDisplay = inputControl.querySelector('.error');

                errorDisplay.innerText = message;
                inputControl.classList.add('error');
                inputControl.classList.remove('success');
            }

            const setSuccess = element => {
                const inputControl = element.parentElement;
                const errorDisplay = inputControl.querySelector('.error');

                errorDisplay.innerText = '';
                inputControl.classList.add('success');
                inputControl.classList.remove('error');
            };

            const isValidEmail = email => {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            };

            const validateInputs = () => {
                const branchIdValue = branchId.value.trim();
                const deskIdValue = deskId.value.trim();
                const fullNameValue = fullName.value.trim();
                const emailValue = email.value.trim();
                const phoneValue = phone.value.trim();
                const hostIdValue = hostId.value.trim();
                const purposeValue = purpose.value.trim();
                let isValid = true;

                if (branchIdValue === '--select branch--') {
                    setError(branchId, 'Choose a branch');
                    isValid = false;
                } else {
                    setSuccess(branchId);
                }
                if (deskIdValue === '') {
                    setError(deskId, 'Choose a Desk');
                    isValid = false;
                } else {
                    setSuccess(deskId);
                }

                if (fullNameValue === '') {
                    setError(fullName, 'Full name is required');
                    isValid = false;
                } else {
                    setSuccess(fullName);
                }

                if (emailValue === '') {
                    setError(email, 'Email is required');
                    isValid = false;
                } else if (!isValidEmail(emailValue)) {
                    setError(email, 'Provide a valid email address');
                    isValid = false;
                } else {
                    setSuccess(email);
                }

                if (phoneValue === '') {
                    setError(phone, 'Contact number is required');
                    isValid = false;
                } else if (/^0+$/.test(phoneValue)) {
                    setError(phone, 'Invalid phone number: Cannot be all zeros');
                    isValid = false;
                } else if (/^(\d)\1*$/.test(phoneValue)) {
                    setError(phone, 'Invalid phone number: Cannot be the same digit repeated');
                    isValid = false;
                }else if (phoneValue.length < 8 || phoneValue.length > 12) {
                    setError(phone, 'Phone number should be minimum 8 or maximum 12');
                    isValid = false;
                } else {
                    setSuccess(phone);
                }

                if (hostIdValue === '') {
                    setError(hostId, 'Choose a host');
                    isValid = false;
                } else {
                    setSuccess(hostId);
                }

                if (purposeValue === '') {
                    setError(purpose, 'Purpose is required');
                    isValid = false;
                }
                 else {
                    setSuccess(purpose);
                }


                return isValid;
            };

            function resetForm() {
                $("#checkin_form")[0].reset();
                $(".error").text("");
                $("#desk_id").text("");
                $("#host_id").text("");
                $(".input-control").removeClass("error success");
            };


            if (validateInputs()) {
                const form = new FormData($("#checkin_form")[0])


                    $.ajax({
                        url: "/new_visitor/",
                        method: "POST", 
                        headers: { 
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        data: form,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: (res) => {  
                            if (res.status === 400) {
                                if (res.type === "branchId") {
                                    setError(branch_id, res.error);
                                }
                                if (res.type === "deskId") {
                                    setError(desk_id, res.error);
                                }
                                if (res.type === "hostId") {
                                    setError(host_id, res.error);
                                }

                            }
                            if (res.status === 200); {
                                showToast(res.message, "success")
                                resetForm();
                            }

                        },    

                        error: function (xhr, textStatus, errorThrown) {
                            hideLoader();
                        }
                    });
                
            }
        }

        $(document).ready(function () {
            $("#checkin_form").submit(checkinVisitor);
        });

        // 
    </script>
    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'Logout Confirmation',
                text: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Logout'
            }).then((result) => {
                if (result.isConfirmed) {
                    performLogout(); 
                }
            });
        }

        function performLogout() {
            $.ajax({
                url: "/logout/", 
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    window.location.href = "/";
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Logout failed:", errorThrown);
                }
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



    <script>
        $(document).ready(function() {

window.onload = function() {
    document.getElementById("invite_id").focus();

    var settingsCard = document.querySelector('#for-focus-main');                
    settingsCard.addEventListener('click', function() {
        document.getElementById("invite_id").focus();
    });
};

function checkVisitorDetails(visitorId) {
    $.ajax({
        url: `/get-visitor-details/${visitorId}/`,
        type: 'GET',
        success: function(data) {
            if (!data.error) {
                $('#visitor-detail-modal tbody tr td:nth-child(1)').text(data.visitor_id);
                $('#visitor-detail-modal tbody tr td:nth-child(2)').text(data.full_name);
                $('#visitor-detail-modal tbody tr td:nth-child(3)').text(data.select_branch);
                $('#visitor-detail-modal tbody tr td:nth-child(4)').text(data.purpose);
                $('#visitor-detail-modal tbody tr td:nth-child(5)').text(data.user_host);

                $('#visitor-detail-modal').modal('show');
            } else {
                $('#error-message').text('Visitor not found!').show();
                $('#visitor-detail-modal').modal('hide');
            }
        },
        error: function() {
            $('#error-message').text('Visitor not found!').show();
        }
    });
}

    function getVisitorDetails() {
        var visitorId = $('#invite_id').val();
        if (visitorId) {
            // Hide any previous error messages
            $('#error-message').hide();
            checkVisitorDetails(visitorId);
        } else {
            // Display error message below the input field
            $('#error-message').text('Please enter a valid Visitor ID.').show();
            $('#visitor-detail-modal').modal('hide');
        }
    }

    $('#get-details-btn').on('click', function(event) {
        event.preventDefault();
        getVisitorDetails();
    });

    $('#checkin_modal_btn').on('click', function() {
        checkInVisitors();
    });

    });


    </script> 
    <script>


        function showToast(message, icon) {
            const toastMixin = Swal.mixin({
                toast: true,
                icon: icon,
                title: 'General Title',
                animation: false,
                position: 'top-right',
                width: '450px',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });

            toastMixin.fire({
                animation: true,
                title: message
            });
        }

        function resetForm() {
               $("#visitor_checkin")[0].reset();
               $(".error").text("");
               $(".input-control").removeClass("error success");
           }

        const checkVisitor = (e) => {
            e.preventDefault();

        }

        function checkInVisitors() {
            var visitorId = $('#invite_id').val();
            var deskName = $('#desk_name').val();

            $.ajax({
                url: `/check-in-visitor/${visitorId}/`,
                type: 'POST',
                data: { desk_name: deskName },
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function(data) {
                    if (data.status == 200) {
                        showToast(data.message, 'error');
                        $('#visitor-detail-modal').modal('hide');
                        resetForm()
                    } else {
                        showToast('Checked in successfully', 'success');
                        $('#visitor-detail-modal').modal('hide');
                        resetForm()

                    }

                    document.getElementById("invite_id").focus();
                },
                error: function() {
                    showToast('Error checking in visitor', 'error');
                    $('#visitor-detail-modal').modal('hide');
                }
            });
        }


    </script>
</body>

</html>