{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Visitors Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<style>
    .hidden {
        display: none;
    }
    #noDataImage {
        display:flex !important;
        align-items: center;
        justify-content:center;
    }
</style>

<body>

    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex align-items-center">
                    <div class="navbar-brand-box">
                        <a href="{% url 'dashboard' %}" class="logo">
                            <span class="logo-lg">
                                <img src="{% static '/images/logo.png' %}" alt="" height="23">
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link arrow-none btn " style="background-color: green;" href="{% url 'dashboard' %}" 
                                            id="topnav-dashboard" role="button">
                                            <span key="t-dashboards">Dashboard</span>
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'visitors' %}"
                                            id="topnav-pages" role="button">
                                            <span>Visitors</span>
                                            
                                        </a>
                                        
                                    </li>
                                    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'settings' %}"
                                            id="topnav-pages" role="button">
                                            <span>Settings</span>                                            
                                        </a>                                        
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="d-flex align-items-center header-rightside-btns">
                    <a href="{% url 'checkin_visitor' %}">
                        <button type="button" style="background-color: green; color: white;" class="btn header-item waves-effect waves-light" >CHECKIN
                        </button>
                    </a>
    
                    <div class="dropdown d-inline-block user-dropdown ms-2">
                        <a class="" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="{% static 'images/dummy.png' %}"
                                alt="Header Avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- <a class="dropdown-item" href="profile.html"><i class="bx bx-user font-size-16 align-middle me-1"></i>
                                <span key="t-profile">Profile</span></a>
                            <a class="dropdown-item d-block" href="#"><i
                                    class="bx bx-wrench font-size-16 align-middle me-1"></i> <span
                                    key="t-settings">Settings</span></a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item text-danger" href="#" onclick="confirmLogout()"><i
                                    class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                    key="t-logout">Logout</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </header>


        

        <div class="page-content">
            <div class="container-fluid px-0">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="main-data-box " style="margin-bottom: 17px;
                            height: 125px;">
                            <div style="margin-left: 18px; text-align: center;">
                                {% if user.is_authenticated %}<br>
                                    <h3>Hey,<b> {{ user.username }} 👋</b></h3>
                                    <h6>It's a new day filled with possibilities. Let's make it count! 🌞!</h6>
                                {% endif %}
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-0">
             <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gx-3">
                    <div class="col">
                        <a href="{% url 'visitors' %}#department-tab" id="todays-checkins-link">
                            <div class="main-data-box ">
                                <i class="bx bx-up-arrow-alt leads-count"></i>
                                <h2 class="leads-count">{{visitor_data.count}}</h2>
                                <h4>Today's Check-ins</h4>
                            </div>
                        </a>
                    </div>
                <div class="col">
                    <a href="{% url 'visitors' %}">
                        <div class="main-data-box">
                            <i class="bx bx-up-arrow-alt customer-count"></i>
                            <h2 class="customer-count">{{checkout_count}}</h2>
                            <h4>Today's Check-outs</h4>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'visitors' %}">
                        <div class="main-data-box">
                            <i class="bx bx-up-arrow-alt role-count"></i>
                            <h2 class="role-count">{{visitor_data.count}}</h2>
                            <h4>Total On Premises</h4>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'visitors' %}">
                        <div class="main-data-box">
                            <i class="bx bx-up-arrow-alt user-c"></i>
                            <h2 class="user-c">{{expected_visitor.count}}</h2>
                            <h4>Expected Visitor Count</h4>
                        </div>
                    </a>
                </div>
                
             </div>
             <div class="row mt-3 gx-3">
                <div class="col-lg-6">
                    
                    <div class="dashboard-leads">
                        <div class="top-header-div d-flex justify-content-between">
                            <h3 class="dashboard-sub-head">On premises visitors</h3>
                            
                              <!-- <a href="{% url 'visitors' %}">
                                <h6 class="veiw-all">View All</h6>
                              </a> -->
                           
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="b-none" {% if not visitor_data %} style="visibility: hidden;" {% endif %}>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Purpose</th>
                                        <!-- <th class="text-right">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>                                    
                                    {% for i in visitor_data %}
                                    <tr>
                                        <td>{{i.full_name.title}}</td>
                                        <td>{{i.phone}}</td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.purpose}}</td>
                                    </tr>
                                    {% endfor %}                                                                        
                                </tbody>                                
                            </table>
                            {% if visitor_data|length == 0 %}
                            <div id="noDataImage">
                                <!-- Your image tag or image source goes here -->
                                <img height="200px" style="width: auto" src="{% static 'images/ndf.jpg' %}" alt="No Data Image">
                            </div>
                            <h5 id="noDataImage">No Data Found!</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 sm-mt">
                    <div class="dashboard-leads">
                        <div class="top-header-div d-flex justify-content-between">
                            <h3 class="dashboard-sub-head">Expected visitors</h3>
                            
                              <!-- <a href="{% url 'visitors' %}">
                                <h6 class="veiw-all">View All</h6>
                              </a> -->
                           
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="b-none" {% if not expected_visitor %} style="visibility: hidden;" {% endif %}>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Purpose</th>
                                        <th>Expected On</th>
                                        <!-- <th class="text-right">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for j in expected_visitor %}
                                    <tr>
                                        <td>{{j.full_name}}</td>
                                        <td>{{j.visitor_phone}}</td>
                                        <td>{{j.visitor_email}}</td>
                                        <td>{{j.purpose}}</td>
                                        <td>{{j.from_date}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                            {% if expected_visitor|length == 0 %}
                                <div id="noDataImage">
                                    <!-- Your image tag or image source goes here -->
                                    <img height="200px" style="width: auto" src="{% static 'images/nodatafound.jpg' %}" alt="No Data Image">
                                </div>
                                <h5 id="noDataImage">No Data Found!</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn" style="background-color: red; color: white;" onclick="performLogout()">Logout</button>
                </div>
            </div>
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'Logout Confirmation',
                text: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Logout'
            }).then((result) => {
                if (result.isConfirmed) {
                    performLogout(); // Call the logout function if confirmed
                }
            });
        }

        // Function to perform logout
        function performLogout() {
            $.ajax({
                url: "/logout/",  // Update with your actual logout endpoint
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    // Redirect to login or handle success as needed
                    window.location.href = "/";
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle error
                    console.error("Logout failed:", errorThrown);
                }
            });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const noDataImage = document.getElementById('noDataImage');
            const visitorDataCount = parseInt(noDataImage.getAttribute('data-visitor-data-count')) || 0;
            
            if (noDataImage && visitorDataCount === 0) {
                noDataImage.classList.remove('d-none');
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var todaysCheckinsLink = document.getElementById('todays-checkins-link');
            var departmentTabLink = document.getElementById('department-tab');
    
            if (todaysCheckinsLink && departmentTabLink) {
                todaysCheckinsLink.addEventListener('click', function (e) {
                    e.preventDefault();
                    // Activate the "Department" tab
                    var tab = new bootstrap.Tab(departmentTabLink);
                    tab.show();
                    // Hide the "Users" tab
                    var usersTab = document.getElementById('users-tab');
                    usersTab.classList.remove('active');
                    var usersTabLink = document.getElementById('users-tab-link');
                    usersTabLink.classList.remove('active');
                    // Show the "Department" tab content
                    var departmentTab = document.getElementById('department-tab');
                    departmentTab.classList.add('active');
                });
            }
        });
    </script>
    <script>
        $(document).ready(function(){
        // Check if there's a fragment identifier in the URL
        var fragment = window.location.hash;
        
        // Activate the corresponding tab based on the fragment identifier
        if (fragment) {
            $('.nav-link[href="' + fragment + '"]').tab('show');
    }
});
    </script>
    
    
        
</body>
</html>
