{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Visitors Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex align-items-center">
                    <div class="navbar-brand-box">
                        <a href="{% url 'dashboard' %}" class="logo">
                            <span class="logo-lg">
                                <img src="{% static 'images/logo.png' %}" alt="" height="23">
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link arrow-none" href="{% url 'dashboard' %}"
                                            id="topnav-dashboard" role="button">
                                            <span key="t-dashboards">Dashboard</span>
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'visitors' %}"
                                            id="topnav-pages" role="button">
                                            <span>Visitors</span>
                                            
                                        </a>                                    
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'settings' %}"
                                            id="topnav-pages" role="button">
                                            <span>Settings</span>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                </div>

                <div class="d-flex align-items-center header-rightside-btns">
                    <a href="{% url 'calendar' %}">
                        <button type="button" style="background-color: green; color: rgb(255, 255, 255);" class="btn header-item waves-effect waves-light" >CALENDAR
                        </button>
                    </a>
                    <a href="{% url 'checkin_visitor' %}">
                        <button type="button" style="background-color: green; color: white;" class="btn waves-effect waves-light">CHECK IN</button>
                    </a>                     

                    <div class="dropdown d-inline-block user-dropdown ms-2">
                        <a class="" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rounded-circle header-profile-user"
                                src="{% static 'images/dummy.png' %}" alt="Header Avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item text-danger" href="#" onclick="confirmLogout()"><i
                                class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                key="t-logout">Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <div class="page-content">
            <div class="container-fluid px-0 d-flex align-items-center justify-content-center">
                <div class="card-profile">
                    <div class="card-body">
                        <div class="profile-banner rounded-top d-flex justify-content-center" 
                        style="
                        background-image:efer;
                    background-color: #006400d6;">
                            <img style="height: 135px;
                            width: auto;" src="{% static 'images/dummy.png' %}" alt="" class="img-fluid rounded-circle">
                        </div><br><br>
                        <div class="profile-cntns text-center">
                            {% if user.is_authenticated %}
                            <h1 style="font-weight: 600;">{{user.username}}</h1>
                            <h5>{{user.email}}</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex profile-location align-items-center text-center justify-content-center mt-3">
                            <img src="{% static 'images/india-flag.svg' %}" alt="" class="img-fluid">
                            <h6>Kerala, India</h6>
                        </div>
                        <!-- <a data-bs-toggle="modal" data-bs-target="#add-lead"> Add Designation</a> -->
                     <!-- <h3 class="designation">Add Designation</h3> -->
                     <div class="d-flex active-time align-items-center justify-content-center">
                        <i class="bx bxs-circle"></i>
                       <p>Full Time</p>
                     </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn waves-effect waves-light profile-btn"
                            data-bs-toggle="modal" onclick="openEditAdminModal(`{{ user_data.id}}`, `{{ user_data.first_name|default:''}}`, `{{ user_data.last_name|default:'' }}`,`{{ user_data.useremail }}`,
                            `{{ user_data.user_phone|default:'' }}`, `{{ user_data.username }}`, `{{ user_data.about|default:'' }}`, `{{ user_data.profile_image }}`)" id="edit-profile-btn">
                                <i class="mdi mdi-account-circle"></i>Edit Profile
                            </button>  
                        </div>
                        <hr class="profile-border my-3">
                        <div class="profile-skills">
                            <h3>About</h3>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">

                <form method="post" id="edit_profile">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"><span>Edit User</span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="profile-picture">
                            <div class="circle">
                                <img class="profile-pic" src="{% static 'images/dummy.png' %}">
                                <div class="p-image">
                                    <i class="fa fa-camera upload-button"></i>
                                    <input class="file-upload" type="file" name="profile_image" id="profile_image"  accept="{% static 'image/*' %}" />
                                </div>
                            </div>

                        </div>

                        <div class="inputGroup form-control">
                            <input type="text" required="" autocomplete="off" name="first_name" id="first_name">
                            <label class="search-icon" for="name">First Name</label>
                        </div>
                        <div class="inputGroup form-control">
                            <input type="text" required="" autocomplete="off" name="last_name" id="last_name">
                            <label class="search-icon" for="name">Last Name</label>
                        </div>

                        <div class="inputGroup form-control">
                            <input type="text" required="" autocomplete="off" name="username" id="username">
                            <label class="search-icon" for="name">User Name</label>
                        </div>

                        <div class="inputGroup form-control">
                            <input type="text" required="" autocomplete="off" name="useremail" id="useremail">
                            <label class="search-icon" for="name">Email</label>
                        </div>

                        <div class="inputGroup form-control">
                            <input type="text" required="" autocomplete="off" name="user_phone" id="user_phone">
                            <label class="search-icon" for="name">Phone</label>
                        </div>


                        <div class="row my-3">
                            <div class="col-lg-6">
                                <h6 class="selct-box-head">Password Option</h6>
                                <div class="d-flex">
                                    <div class="form-check">
                                        <div class="inputGroup form-control">
                                            <input type="password" required="" autocomplete="off" name="password" id="password">
                                            <label class="search-icon" for="Password">Change Password</label>
                                        </div>
                                    </div>

                                    <div class="form-check ms-3">
                                        <div class="inputGroup form-control">
                                            <input type="password" required="" autocomplete="off" name="confirm_password" id="confirm_password">
                                            <label class="search-icon" for="Password">Confirm Password</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 mt-3 mt-md-0">
                                <h6 class="selct-box-head">User Type</h6>
                                <div class="d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="formRadios" id="formRadios2">
                                        <label class="form-check-label" for="formRadios2">
                                            Manager
                                        </label>
                                    </div>

                                    <div class="form-check ms-3">
                                        <input class="form-check-input" type="radio" name="formRadios" id="formRadios1"
                                            checked="">
                                        <label class="form-check-label" for="formRadios1">
                                            Normal Staff
                                        </label>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label mt-3">About</label>
                                <textarea class="form-control" name="About id="exampleFormControlTextarea1" rows="3" name="about" id="about"></textarea>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" style="background-color: green; color: white;" id="save-button" onclick="updateProfile(event)" class="btn text-uppercase br-50 btn-md">Save</button>
                        <button type="button" class="btn btn-light text-uppercase br-50 btn-md"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/pages/note.js' %}"></script>

    <script>
        // change profile pic

        $(document).ready(function () {
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function () {
                readURL(this);
            });
            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>
    <script>
        // upload image
        const uploadArea = document.querySelector('#uploadArea')


        const dropZoon = document.querySelector('#dropZoon');
        const loadingText = document.querySelector('#loadingText');
        const fileInput = document.querySelector('#fileInput');
        const previewImage = document.querySelector('#previewImage');
        const fileDetails = document.querySelector('#fileDetails');
        const uploadedFile = document.querySelector('#uploadedFile');
        const uploadedFileInfo = document.querySelector('#uploadedFileInfo');
        const uploadedFileName = document.querySelector('.uploaded-file__name');
        const uploadedFileIconText = document.querySelector('.uploaded-file__icon-text');
        const uploadedFileCounter = document.querySelector('.uploaded-file__counter');
        const imagesTypes = [
            "jpeg",
            "png",
            "svg",
            "gif"
        ];

        dropZoon.addEventListener('dragover', function (event) {
            event.preventDefault();
            dropZoon.classList.add('drop-zoon--over');
        });

        dropZoon.addEventListener('dragleave', function (event) {
            dropZoon.classList.remove('drop-zoon--over');
        });

        dropZoon.addEventListener('drop', function (event) {
            event.preventDefault();
            dropZoon.classList.remove('drop-zoon--over');
            const file = event.dataTransfer.files[0];
            uploadFile(file);
        });

        dropZoon.addEventListener('click', function (event) {
            fileInput.click();
        });


        fileInput.addEventListener('change', function (event) {

            const file = event.target.files[0];
            uploadFile(file);
        });

        function uploadFile(file) {
            const fileReader = new FileReader();
            const fileType = file.type;
            const fileSize = file.size;

            if (fileValidate(fileType, fileSize)) {
                dropZoon.classList.add('drop-zoon--Uploaded');
                loadingText.style.display = "block";
                previewImage.style.display = 'none';
                uploadedFile.classList.remove('uploaded-file--open');
                uploadedFileInfo.classList.remove('uploaded-file__info--active');

                fileReader.addEventListener('load', function () {
                    setTimeout(function () {
                        uploadArea.classList.add('upload-area--open');
                        loadingText.style.display = "none";
                        previewImage.style.display = 'block';
                        fileDetails.classList.add('file-details--open');
                        uploadedFile.classList.add('uploaded-file--open');
                        uploadedFileInfo.classList.add('uploaded-file__info--active');
                    }, 500);

                    previewImage.setAttribute('src', fileReader.result);
                    uploadedFileName.innerHTML = file.name;

                    progressMove();
                });

                fileReader.readAsDataURL(file);
            } else {

                this;

            };
        };


        function progressMove() {
            let counter = 0;
            setTimeout(() => {
                let counterIncrease = setInterval(() => {
                    if (counter === 100) {
                        clearInterval(counterIncrease);
                    } else {
                        counter = counter + 10;
                        uploadedFileCounter.innerHTML = `${counter}%`
                    }
                }, 100);
            }, 600);
        };

        function fileValidate(fileType, fileSize) {
            let isImage = imagesTypes.filter((type) => fileType.indexOf(`image/${type}`) !== -1);
            if (isImage[0] === 'jpeg') {
                uploadedFileIconText.innerHTML = 'jpg';
            } else {
                uploadedFileIconText.innerHTML = isImage[0];
            };

            if (isImage.length !== 0) {
                if (fileSize <= 2000000) {
                    return true;
                } else {
                    return alert('Please Your File Should be 2 Megabytes or Less');
                };
            } else {
                return alert('Please make sure to upload An Image File Type');
            };
        };
    </script>
<script type="text/javascript">
    $(document).ready(function() {
    $(".appnd_user_btn").click(function() {

        $(".apenduser").append("<tr>\n" +
            "                                    <td class=\"th_btnpand\">\n" +
            "                                        <div style=\"cursor: pointer;\" class=\"appnd_user_minus_btn appnd_minus_btn\">-</div>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_role\">\n" +
            "                                        <select name=\"role_id[]\" class=\"form-control\">\n" +
            "                                            {% for role in  role_data %}\n" +
            "                                           <option value=\"{{role.id}}\">{{role.role_name}}</option>\n" +
            "                                           {% endfor %}\n" +
            "                                        </select>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_decrptn\">\n" +
            "                                        <input name=\"role_description[]\" class=\"form-control\">\n" +
            "                                    </td>\n" +
            "                                 <td class=\"th_user_strtdate\">\n" +
            "                                        <div class=\"input-group date\">\n" +
            "                                            <input name=\"role_start_dt[]\"  min=\"{{today_date}}\" value=\"{{today_date|safe}}\" type=\"date\" class=\"input form-control\" id=\"datetimepicker\"> \n" +
            "                                        </div>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_enddate\">\n" +
            "                                        <div class=\"input-group date\">\n" +
            "                                            <input name=\"role_end_dt[]\" type=\"date\"  min=\"{{today_date}}\"  class=\"input form-control\" id=\"datetimepicker\"> \n" +
            "                                        </div>\n" +
            "                                    </td>\n" +

            "                                </tr>");
        $(".appnd_user_minus_btn").click(function() {
            $(this).parent().parent().remove();
        });
    });
    });
    $(".appnd_user_minus_btn").click(function() {
            $(this).parent().parent().remove();
        });
</script>

    <script>
        $(document).ready(function () {
            var disabled = false;
            $('.edit-icon').click(function () {
                let cParent = $(this).parent();
                cParent.children('input').prop('disabled', false);
                cParent.children('input').focus();
            })
        });
    </script>

    <script>
        ClassicEditor.create(document.querySelector(".editor"), {
                toolbar: {
                    items: [
                        "heading",
                        "|",
                        "bold",
                        "italic",
                        "link",
                        "bulletedList",
                        "numberedList",
                        "|",
                        "indent",
                        "outdent",
                        "|",
                        "imageUpload",
                        "blockQuote",
                        "mediaEmbed",
                        "undo",
                        "redo",
                    ],
                },
                language: "es",
                image: {
                    toolbar: ["imageTextAlternative", "imageStyle:full", "imageStyle:side"],
                },
                licenseKey: "",
            })
            .then((editor) => {
                window.editor = editor;
            })
            .catch((error) => {
                console.error("Oops, something went wrong!");
                console.error(
                    "Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:"
                );
                console.warn("Build id: ref2goguw78q-8ghiwfe1qu83");
                console.error(error);
            });
    </script>
    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'Logout Confirmation',
                text: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Logout'
            }).then((result) => {
                if (result.isConfirmed) {
                    performLogout(); // Call the logout function if confirmed
                }
            });
        }

        // Function to perform logout
        function performLogout() {
            $.ajax({
                url: "/logout/",  // Update with your actual logout endpoint
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    // Redirect to login or handle success as needed
                    window.location.href = "/";
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle error
                    console.error("Logout failed:", errorThrown);
                }
            });
        }
    </script>
    <!-- <script>
        $(document).ready(function () {
            // Handle the "Edit" button click
            $("#edit-profile-btn").on("click", function () {
                // Populate the modal with existing user details
                // You can use the existing data you have on the page and set the values in the modal fields
                $("#first_name").val("Existing First Name");
                $("#last_name").val("Existing Last Name");
                $("#useremail").val("existing@example.com");
                $("#user_phone").val("Existing Phone Number");
                $("#password").val("");  // Clear the password field for security reasons
                $("#confirm_password").val("");
                $("#current_password").val("");
                $("#about").val("Existing About");
    
                // Show the modal
                $("#add-user").modal("show");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle the form submission
            $("#save-button").on("click", function () {
                // Collect form data
                var formData = {
                    first_name: $("#first_name").val(),
                    last_name: $("#last_name").val(),
                    useremail: $("#useremail").val(),
                    user_phone: $("#user_phone").val(),
                    password: $("#password").val(),
                    confirm_password: $("#confirm_password").val(),
                    current_password: $("#current_password").val(),
                    about: $("#about").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Include the CSRF token
                };
    
                $.ajax({
                    type: "POST",
                    url: "{% url 'edit_company_admin' user_id=user.id %}",  // Update with your actual URL
                    data: formData,
                    success: function (response) {
                        // Handle the success response
                        if (response.status === 200) {
                            alert(response.message);  // Display success message (you can customize this)
                            // Close the modal if needed
                            $("#add-user").modal("hide");
                            // Optionally, update the UI with the updated data
                            // ...
                        } else {
                            // Handle other status codes or errors
                            alert("Error: " + response.message);  // Display error message (you can customize this)
                        }
                    },
                    error: function (error) {
                        // Handle Ajax errors
                        console.error("Ajax request failed:", error);
                    }
                });
            });
        });
    </script> -->
    <script>
        function showToast(message, icon) {
            const toastMixin = Swal.mixin({
                toast: true,
                icon: icon,
                title: 'General Title',
                animation: false,
                position: 'top-right',
                width: '450px',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
            toastMixin.fire({
                animation: true,
                title: message
            });
        }

            let originalUserValues = {};

            function openEditAdminModal(userId, firstName, lastName, userEmail, userPhone, userName, userAbout,  profileImage) {
                alert(firstName)
                originalUserValues = {
                    id: userId,
                    first_name: firstName,
                    last_name: lastName,
                    useremail: userEmail,
                    user_phone: userPhone,
                    username: userName,
                    about: userAbout,
                    profile_image: profileImage
                };

                $('#first_name').val(firstName);
                $('#last_name').val(lastName);
                $('#useremail').val(userEmail);
                $('#user_phone').val(userPhone);
                $('#username').val(userName);
                $('#about').val(userAbout);
                $('#profile_image').val(profileImage);
                $('#edit_profile').attr('data-user-id', userId);


                var editUserModal = new bootstrap.Modal(document.getElementById('add-user'));
                editUserModal.show();
            }

            function updateProfile(event) {
                event.preventDefault();

                var userId = $('#edit_profile').attr('data-user-id');
                var firstName = $('#first_name').val();
                var lastName = $('#last_name').val();
                var userEmail = $('#useremail').val();
                var userPhone = $('#user_phone').val();
                var userName = $('#username').val();
                var userAbout = $('#about').val();
                var profileImage = $('#profile_image').val();

                // if (!validateFirstName(firstName) || !validateLastName(lastName) || !validateUserEmail(userEmail) ||
                // //  !validateUserPhone(userPhone) ||
                // !validateUserName(userName)) {
                //     return;
                // }

                $.ajax({
                    type: 'POST',
                    url: 'edit_company_admin/' + userId + '/', 
                    data: {
                        'first_name': firstName,
                        'last_name': lastName,
                        'user_email': userEmail,
                        'user_phone': userPhone,
                        'user_name': userName,
                        'about' : userAbout,
                        'profile_image': profileImage,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.status === 200) {

                            if (valuesChangedUser(userId)) {
                                showToast("User updated", "success");
                                

                                
                            } else {
                                showToast("No Update", "info");

                                // var editUserModal = new bootstrap.Modal(document.getElementById('edit-user'));
                                // editUserModal.hide();
                            }
                        } else {
                            alert('Error updating user: ' + response.message);
                        }
                    },
                    error: function () {
                        alert('Error updating user. Please try again.');
                    }
                });
            }

            function valuesChangedUser(userId) {
            const editedValues = {
                first_name: $('#first_name').val().trim(),
                last_name: $('#last_name').val().trim(),
                useremail: $('#user_email').val().trim(),
                user_phone: $('#user_phone').val().trim(),
                username: $('#user_name').val().trim(),
                about: $('#about').val().trim(),
                profileImage: $('#profile_image').val().trim()
            };

            for (const key in editedValues) {
                if (editedValues[key] !== originalValues[key]) {
                    return true;
                }
            }

            return false;
        }

        $(document).ready(function () {
            $("#edit_profile").submit(updateProfile);
        });
    </script>   

</body>

</html>